@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins";
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.card {
  width: 800px;
  border: none !important;
  box-shadow: rgba(13, 110, 253, 0.25) 0px 50px 100px -20px,
    rgba(13, 110, 253, 0.3) 0px 30px 60px -30px;
  border-radius: 10px;
}

p {
  font-size: 1.1em;
  color: #333;
  line-height: 1.9em;
}

.black {
  display: none;
}

@media (max-width: 991.98px) {
  body {
    overflow: hidden;
  }
  .black {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    overflow: hidden;
    display: flex;
  }

  .black h2 {
    margin: auto;
  }
  .card {
    height: 0px;
    width: 0px;
    overflow: hidden;
  }
}
